/* Importando estilos de bootstrap */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Layout */
:root{
    --primary-color : purple;
    --secondary-color : cyan;
    --text-color: white;
    
}
body{
    font-family : 'Lato';
    color: var(--text-color);
    height: 100vh;
}

/* Guias visuales */
.container div > [class^="col"] {     
    border: 1px dotted rgb(167, 167, 167);
}
.container div > [class^="col"]:first-child{
    background-color: var(--primary-color);    
}
.container div > [class^="col"]:last-child{
    background-color: var(--secondary-color);
    
}
.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}

p{
    margin: .5rem 0;
}